* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Paaji 2", cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Baloo Paaji 2", cursive;
  background-color: rgb(88, 88, 88);
}

nav a {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 50px;
}

nav a img {
  width: 200px;
  height: 200px;
  margin: -25% 10%;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  margin-top: 2.2%;
}

nav ul li {
  margin: 0 1%;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.article-body a {
  text-decoration: none;
  color: white;
}

.article-1 a {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  color: black;
  text-decoration: underline;
}

.author,
.author a {
  font-size: 24px;
  color: #555;
  font-weight: 700;
}

.article-footer a,
.second-class li a {
  color: white;
}

.article-header-2 h5 a {
  text-decoration: underline;
  color: #555;
}

.grid-5 p a {
  color: rgb(77, 77, 77);
  text-decoration: underline;
}

footer .first-list li a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: white;
}

.article-body p span a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #777;
  border-radius: 10px;
}

.article-1 a:hover {
  color: gray;
}

nav ul li button {
  margin-top: -7px;
  padding: 8px 28px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #333;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Baloo Paaji 2", cursive;
}

.container-article button {
  color: rgb(75, 75, 75);
  background-color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 25px 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.grid-6 h1 {
  font-size: 3em;
  text-decoration: underline;
  cursor: pointer;
  line-height: 50px;
}

.grid-5 h1 {
  font-size: 1.7em;
  margin-left: 15%;
  margin-top: -8%;
  width: 100%;
}

.container-article-2 a h1 {
  color: white;
  font-size: 3em;
  text-decoration: underline;
  width: 60%;
  margin: 2% 5%;
  line-height: 50px;
}

.grid-6 h5 {
  word-spacing: 5px;
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  color: #777;
}

footer p {
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 35px;
}

.grid-6 p {
  color: #777;
  font-size: 1.1em;
}

.grid-6 button {
  color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 5%;
  padding: 20px 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.article-header h5 span {
  text-decoration: none;
  font-weight: lighter;
  font-style: oblique;
}

.article-body p span {
  font-size: 0.4em;
}

.container-article h5 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.container-article p {
  font-size: 1.8em;
  width: 70%;
  margin: -2% auto 0 auto;
}

.grid-4 p {
  font-size: 1.2em;
  margin-top: 0;
  margin-left: -10%;
  max-width: 100%;
}

.article-header-2 h5 {
  font-size: 1.5em;
  margin-top: -1%;
}

.grid-5 p {
  width: 90%;
  font-size: 1.3em;
  line-height: 30px;
}

.container-article-2 h5 {
  font-size: 1.2em;
  margin: 0 5%;
  padding: 0;
}

.container-article-2 button {
  color: rgb(77, 77, 77);
  background-color: white;
  border: 0;
  border-radius: 10px;
  padding: 20px 35px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 5% 5%;
}

.article-header h5 {
  margin-top: 2%;
  font-size: 1.2em;
}

.article-body p {
  width: 80%;
  font-size: 3em;
  line-height: 50px;
  text-transform: capitalize;
  margin-right: 0;
}

.container-article-2 p {
  font-size: 1.2em;
  width: 80%;
  margin: 2% 5%;
  line-height: 40px;
  font-family: "Times New Roman", Times, serif;
}

.grid-6 article,
.grid-6 article h5,
.grid-6 article h1,
.grid-6 article p,
.grid-6 article button {
  margin: 5% 5%;
}

.container-article a h1 {
  color: white;
  font-size: 3em;
  text-decoration: underline;
  width: 60%;
  margin: 5% auto;
  line-height: 50px;
}

.grid-5 h1:hover {
  color: gray;
  cursor: pointer;
}

nav ul li button:hover {
  background-color: #666;
}

.container-article,
.container-article-2 button:hover {
  cursor: pointer;
  color: gray;
}

nav input {
  padding: 20px 80px;
  margin: 1.5% 3%;
  border-radius: 10px;
  border: 0;
}

nav input::placeholder {
  font-size: 1.6em;
  color: #777;
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
}

.absolute {
  position: absolute;
  top: 15%;
  left: 33%;
  width: 35%;
  text-align: center;
  font-family: "Baloo Paaji 2", cursive;
  color: black;
}

.absolute h4 {
  font-size: 2.5em;
  line-height: 55px;
}

.article-1 h6 {
  margin: 0;
}

.article-1 h6 span {
  font-variant: small-caps;
  font-weight: 400;
  font-size: 2em;
}

.absolute h4 span {
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(70px, auto);
  margin: 0;
}

.grid article {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
  color: white;
}

.first-article {
  background-color: #777;
}

.second-article {
  background-color: #666;
}

.third-article {
  background-color: #555;
}

.fourth-article {
  background-color: #777;
}

.article-header {
  display: flex;
  margin-top: 35%;
  margin-left: 10%;
}

.img-box {
  width: 70px;
  height: 70px;
  margin-right: 2%;
  border: 4px solid #333;
  border-radius: 5px;
}

.article-body {
  width: auto;
  margin-bottom: 20%;
  margin-left: 10%;
  margin-top: -5%;
}

.article-footer {
  margin-left: 10%;
  margin-bottom: 5%;
}

.article-footer i {
  font-size: 2em;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(70px, auto);
  overflow: hidden;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

.grid-2 article {
  margin-top: 6%;
}

.article-1 {
  padding: 10%;
}

.article-paragraph {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 43px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: minmax(70px, auto);
  margin: 0;
}

.box-img-xlg {
  margin: 10% 0 10% 10%;
  width: 85%;
  height: 75%;
  border: 4px solid gray;
  border-radius: 5px;
}

.container {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#666, #333);
}

.container-article {
  text-align: center;
  color: white;
}

.container-article button i {
  font-size: 0.8em;
}

.grid-4 {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin: 5% 0;
}

.box-img-md {
  width: 200px;
  height: 150px;
  border: 4px solid #333;
  border-radius: 10px;
  margin-left: 10%;
}

.grid-4 p span {
  text-decoration: underline;
  color: rgb(63, 63, 63);
  cursor: pointer;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10%;
  grid-row-gap: 150px;
}

.article-header-2,
.second-class {
  display: flex;
}

.article-header-2 h5 span {
  text-decoration: none;
  font-weight: lighter;
  font-style: oblique;
  color: #555;
}

.grid-5 p span {
  font-weight: lighter;
  color: #777;
}

.container-2 {
  width: 100%;
  height: auto;
  margin: 10% 0 0 0;
  padding: 0;
  background-image: radial-gradient(#666, #333);
  display: flex;
}

.container-article-2 {
  color: white;
}

.box-img-lg {
  width: 400px;
  height: 300px;
  border: 4px solid #333;
  border-radius: 10px;
  margin-right: 10%;
  margin-top: 2%;
}

.grid-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10% 5%;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.grid-6 article {
  background-color: rgb(240, 240, 240);
  border: 0.5px solid white;
  border-radius: 10px;
}

.js,
.css {
  color: #333;
}

.web,
.email {
  color: #666;
}

.js-btn,
.css-btn {
  background-color: #333;
}

.web-btn,
.email-btn {
  background-color: #666;
}

.high-article {
  height: 900px;
}

.article-flex {
  display: flex;
  justify-content: center;
}

.article-flex input {
  padding: 5px 55px;
  border-radius: 5px;
  margin: 5% 0;
  border: 0;
  height: 70px;
}

.article-flex input::placeholder {
  font-size: 1.8em;
  color: #777;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}

.article-end {
  background-image: radial-gradient(#666, #333);
  text-align: center;
  width: 70%;
  margin: 5% auto;
  border-radius: 10px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 15px 5px;
  font-size: 1.1em;
}

footer {
  background-image: radial-gradient(#666, #333);
  font-family: "Times New Roman", Times, serif;
}

footer h3 {
  padding: 3% 0;
  text-align: center;
  color: white;
  font-size: 22px;
}

footer .first-list {
  display: flex;
  margin: 5% auto;
  flex-wrap: wrap;
}

.second-class li {
  padding: 20px 0;
  list-style: none;
  margin: 20px auto;
}

footer .first-list li {
  line-height: 40px;
  margin: 0 15px;
}
